<div class="dictionary-container">
  <div class="themes-list">
    <h2 (click)="toggleThemes()">Themes</h2>
    <ul *ngIf="isRoot">
      <li *ngFor="let theme of themes" [ngClass]="getClassForTopic(theme)" (click)="selectTheme(theme)">
        {{ theme.name }}
      </li>
    </ul>
  </div>

  <div class="theme-details" *ngIf="currentTheme && !isRoot">
    <h2>{{ currentTheme.name }}</h2>
    <button class="back-button" (click)="goBack()">Back</button>
    <ul>
      <ng-container *ngFor="let topic of currentTheme.topics">
        <li [ngClass]="getClassForTopic(topic)"
            [ngStyle]="isTheme(topic) ? {'background-color': '#ffecb3', 'border-left-color': '#ff9800'} : {}"
            (click)="onTopicClick(topic)">
          {{ isTheme(topic) ? topic.name : topic }}
          <span *ngIf="isTheme(topic)" class="sub-theme-count">{{ getSubthemeCount(topic) }} items</span>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

