<div class="dictionary-container">
  <div class="themes-list">
    <h2 (click)="toggleThemes()">Themes</h2>
    <ul>
      <li *ngFor="let theme of getFilteredThemes()">
        <ng-container *ngIf="editItem !== theme; else editTemplate">
          <span [ngClass]="getClassForTopic(theme)" (click)="selectTheme(theme)">
            {{ theme.name }}
          </span>
          <button class="edit-button" (click)="editTheme(theme)" title="Edit">
            <i class="fas fa-edit"></i>
          </button>
        </ng-container>
        <ng-template #editTemplate>
          <input [(ngModel)]="editItemName" (blur)="updateItem()" (keydown.enter)="updateItem()" />
        </ng-template>
        <button class="delete-button" (click)="deleteTheme(theme)" title="Delete">
          <i class="fas fa-trash-alt"></i>
        </button>
      </li>
    </ul>
    <div class="add-theme">
      <h3>Add New Theme</h3>
      <form (ngSubmit)="addTheme()">
        <input [(ngModel)]="newThemeName" name="newThemeName" placeholder="New Theme Name" required />
        <button type="submit">Add Theme</button>
      </form>
    </div>
  </div>

  <div class="theme-details" *ngIf="currentTheme && !isRoot">
    <h2>{{ currentTheme.name }}</h2>
    <button class="back-button" (click)="clearCurrentTheme()">Back</button>
    <ul>
      <ng-container *ngFor="let topic of currentTheme.topics; let i = index">
        <li [ngClass]="getClassForTopic(topic)"
            [ngStyle]="isTheme(topic) ? {'background-color': '#ffecb3', 'border-left-color': '#ff9800', 'position': 'relative', 'padding-right': '40px'} : {}"
            (click)="onTopicClick(topic)">
          <div class="flip-card" [ngClass]="{'flipped': flipped[getTopicKey(topic)]}">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <span *ngIf="editItem !== topic">{{ getTopicName(topic) }}</span>
                <input *ngIf="editItem === topic" [(ngModel)]="editItemName" (blur)="updateItem()" (keydown.enter)="updateItem()" />
                <span *ngIf="isTheme(topic) && editItem !== topic" [ngStyle]="{'position': 'absolute', 'right': '10px', 'color': '#ff9800', 'font-weight': 'bold'}">
                  {{ getSubthemeCount(topic) }} items
                </span>
                <button class="edit-button" (click)="editSubtheme(i)" title="Edit" *ngIf="editItem !== topic">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="delete-button" (click)="deleteSubtheme(i)" title="Delete">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
              <div class="flip-card-back" *ngIf="isTranslatableTopic(topic)" [ngStyle]="{'background-color': '#d5ec9b'}">
                <span *ngIf="editItem !== topic">{{ getTopicTranslation(topic) }}</span>
                <input *ngIf="editItem === topic" [(ngModel)]="editItemTranslation" (blur)="updateItem()" (keydown.enter)="updateItem()" />
                <button class="edit-button" (click)="editSubtheme(i)" title="Edit" *ngIf="editItem !== topic">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="delete-button" (click)="deleteSubtheme(i)" title="Delete">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
    <div class="add-subtheme" *ngIf="currentTheme">
      <h3>Add New Subtheme</h3>
      <form (ngSubmit)="addSubtheme()">
        <input [(ngModel)]="newSubthemeName" name="newSubthemeName" placeholder="New Subtheme Name" required />
        <button type="submit">Add Subtheme</button>
      </form>
    </div>
    <div class="add-word" *ngIf="currentTheme">
      <h3>Add New Word</h3>
      <form (ngSubmit)="addWord()">
        <input [(ngModel)]="newWordName" name="newWordName" placeholder="New Word Name" required />
        <button type="submit">Add Word</button>
      </form>
    </div>
  </div>
</div>
