.container {
  padding-top: 50px;
}

.card-header {
  background-color: #f8f9fa; // Цвет фона заголовка, измените по вашему усмотрению
  text-align: center; // Выравнивание текста заголовка по центру
}
