<div class="lessons-container">
  <div class="lessons-list">
    <h2>Vos Cours à venir</h2>
    <ul>
      <li *ngFor="let lesson of lessons">
        {{ lesson.teacherName }} - {{ lesson.date }} {{ lesson.time }}
        <app-personal-cabinet></app-personal-cabinet>
      </li>
      <li *ngFor="let availability of teacherAvailability">
        Cours à venir: {{ availability.available_date }} {{ availability.available_time }}
        <app-personal-cabinet></app-personal-cabinet>
      </li>
    </ul>
  </div>

  <div class="availability-form">
    <h2>Programmer un nouveau cours</h2>
    <form (ngSubmit)="addAvailability()">
      <label for="date">Date:</label>
      <input type="date" id="date" [(ngModel)]="newAvailability.date" name="date" required>

      <label for="time">Heure:</label>
      <input type="time" id="time" [(ngModel)]="newAvailability.time" name="time" required>

      <button type="submit">Confirmer</button>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
